html, body {
    margin: 0;
    height: 100%;
}
#body-wrapper {
    min-height: 100%;
    margin: 0 auto;
    height: 90%;
    overflow: hidden;
    background-color: #000000;
    padding: 3%;
}
#game-board {
    width: 80%;
    height: 90%;
    margin: 0 auto;
    background-color: #555555;
    position: relative;
}

.game-cell {
    background-color: #ffffff;
    text-align: center;
    position: absolute;
}

.game-cell.wrong {
    background-color: #f04040;
}

select {
    background-color: #000000;
    color: #ffffff;
    font-size: 1em;
}